{#
/**
 * @file
 * The theme implementation for the "IP Address PostgreSQL cidr" field.
 *
 * Available variables:
 * - value: The IP address or the result of applying a "Network Address
 * Function" to the IP address. The variable will contain the result of applying
 * the function if a user selected the function in the "Format Settings" of the
 * field.
 *
 * @see https://www.postgresql.org/docs/16/functions-net.html#FUNCTIONS-NET
 *
 * @ingroup themeable
 */
#}
{{ value }}
